<!DOCTYPE html>
<html>

<head>
  <title></title>
  <link rel="stylesheet" type="text/css" href="css_/gallery.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
  
    <div class="w">
      <div class="ts">
        <input type="radio" id="c1" name="ts" checked="checked" />
        <label class="t" for="c1"><img src="img_/1.jpg" /></label>
        <input type="radio" id="c2" name="ts" />
        <label class="t" for="c2"><img src="img_/24.jpg" /></label>
        <input type="radio" id="c3" name="ts" />
        <label class="t" for="c3"><img src="img_/3.jpg" /></label>
        <input type="radio" id="c4" name="ts" />
        <label class="t" for="c4"><img src="img_/10.jpg" /></label>
        <input type="radio" id="c5" name="ts" />
        <label class="t" for="c5"><img src="img_/21.jpg" /></label>
      </div>
  </div>
  <div class="container">
    <div class="box">
      <img style="height: 100%; width: 100%" src="img_/8.jpg">
      <span>Phòng đơn</span>
    </div>
    <div class="box">
      <img style="height: 100%; width: 100%" src="img_/6.jpg">
      <span>Phòng đôi</span>
    </div>
    <div class="box">
      <img style="height: 100%; width: 100%" src="img_/5.jpg">
      <span>Dùng bữa</span>
    </div>
    <div class="box">
      <img style="height: 100%; width: 100%" src="img_/21.jpg">
      <span>Hồ bơi</span>
    </div>
  </div>
  <div class="container">
    <div class="box">
      <img style="height: 100%; width: 100%" src="img_/20.jpg">
      <span>Phòng đơn</span>
    </div>
    <div class="box">
      <img style="height: 100%; width: 100%" src="img_/11.jpg">
      <span>Phòng đôi</span>
    </div>
    <div class="box">
      <img style="height: 100%; width: 100%" src="img_/19.jpg">
      <span>Dùng bữa</span>
    </div>
    <div class="box">
      <img style="height: 100%; width: 100%" src="img_/22.jpg">
      <span>Hồ bơi</span>
    </div>
  </div>
  <div class="container">
    <div class="box">
      <img style="height: 100%; width: 100%" src="img_/30.jpg">
      <span>Phòng đơn</span>
    </div>
    <div class="box">
      <img style="height: 100%; width: 100%" src="img_/31.jpg">
      <span>Phòng đôi</span>
    </div>
    <div class="box">
      <img style="height: 100%; width: 100%" src="img_/32.jpg">
      <span>Dùng bữa</span>
    </div>
    <div class="box">
      <img style="height: 100%; width: 100%" src="img_/33.jpg">
      <span>Hồ bơi</span>
    </div>
  </div>
  <div class="container">
    <div class="box">
      <img style="height: 100%; width: 100%" src="img_/20.jpg">
      <span>Phòng đơn</span>
    </div>
    <div class="box">
      <img style="height: 100%; width: 100%" src="img_/11.jpg">
      <span>Phòng đôi</span>
    </div>
    <div class="box">
      <img style="height: 100%; width: 100%" src="img_/19.jpg">
      <span>Dùng bữa</span>
    </div>
    <div class="box">
      <img style="height: 100%; width: 100%" src="img_/22.jpg">
      <span>Hồ bơi</span>
    </div>
  </div>
  <div class="container">
    <div class="box">
      <img style="height: 100%; width: 100%" src="img_/8.jpg">
      <span>Phòng đơn</span>
    </div>
    <div class="box">
      <img style="height: 100%; width: 100%" src="img_/6.jpg">
      <span>Phòng đôi</span>
    </div>
    <div class="box">
      <img style="height: 100%; width: 100%" src="img_/5.jpg">
      <span>Dùng bữa</span>
    </div>
    <div class="box">
      <img style="height: 100%; width: 100%" src="img_/21.jpg">
      <span>Hồ bơi</span>
    </div>
  </div>
  
  

  <script src="js_/gallery.js"></script>
</body>

</html>