<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>
        <%= title %>
    </title>
    <link rel="stylesheet" type="text/css" href="js/owl-carousel/owl.theme.default.min.css">
    <link rel="stylesheet" type="text/css" href="js/owl-carousel/owl.carousel.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lora:400,400italic,700" type="text/css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700" type="text/css">
    <link rel="stylesheet" type="text/css" href="css/animate.min.css">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link href="css/common.css" rel="stylesheet">
    <link href="css/responsive-slides.css" rel="stylesheet" type="text/css" media="all">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="stylesheet" type="text/css" href="css/style_res.css">
</head>

<body>

    <%- include('include/application') %>

        <!-- body -->
        <main>
            <section class="tit_header">
                <div class="container">
                    <div class="row">
                        <div class="title_header_body">
                            <h1><i>THE LUXURY</i> <br></h1>
                        </div>
                        <div class="col-md-4 aos-init aos-animate " data-aos="fade-up" data-aos-duration="1000">
                            <div class="box">
                                <div class="img"><img src="img/i2.png"></div>
                                <h2>Luxury</h2>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                            </div>
                        </div>
                        <div class="col-md-4 aos-init aos-animate" data-aos="fade-up" data-aos-duration="2000">
                            <div class="box box_before">
                                <div class="img"><img src="img/i3.png"></div>
                                <h2>GREAT SERVICES</h2>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                            </div>
                        </div>
                        <div class="col-md-4 aos-init aos-animate" data-aos="fade-up" data-aos-duration="3000">
                            <div class="box">
                                <div class="img"><img src="img/i4.png"></div>
                                <h2>ONLINE RESERVATION</h2>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                            </div>
                        </div>

                    </div>
                </div>
            </section>
            <section class="our-room">
                <div class="iframe_img"></div>
                <div class="container">
                    <div class="row">
                        <div class="col-md-6"></div>
                        <div class="col-md-6 col-sm-12 lisssst aos-init aos-animate" data-aos="fade-left" data-aos-duration="3000">
                            <h1>Our room - deluxe double</h1>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                            <div class="row lcdd">
                                <ul class="unstyled col-sm-6">
                                    <li>LCD TVs 28 ''</li>
                                    <li>national and international TV channels</li>
                                    <li>direct dial telephone, Internet access</li>
                                    <li>premium cosmetics</li>
                                </ul>
                                <ul class="unstyled col-sm-6">
                                    <li>fluffy cotton bathrobes</li>
                                    <li>towels and cotton sheets</li>
                                    <li>comfortable slippers</li>
                                    <li>hairdryer</li>
                                </ul>
                            </div>
                            <div class="list_inline_ser">
                                <div class="icon_ba">
                                    <span class="icon"><img src="img/ia1.png"></span>
                                    <span>Near <br>  downtown</span>
                                </div>
                                <div class="icon_ba">
                                    <span class="icon"><img src="img/ia2.png"></span>
                                    <span>FREE WIFI</span>
                                </div>
                                <div class="icon_ba">
                                    <span class="icon"><img src="img/ia3.png"></span>
                                    <span>FREE <br> PARKING</span>
                                </div>
                                <div class="icon_ba">
                                    <span class="icon"><img src="img/ia4.png"></span>
                                    <span>FREE <br> BREACKFAST</span>
                                </div>
                                <div class="icon_ba">
                                    <span class="icon"><img src="img/ia5.png"></span>
                                    <span>23MP</span>
                                </div>
                            </div>
                            <a class="btn btn-default" href="" title="">Book Now</a>
                        </div>
                    </div>
                </div>
            </section>
            <section class="restaurant">
                <div class="container add-padding">
                    <div class="row">
                        <div class="col-md-6 aos-init aos-animate" data-aos="fade-up" data-aos-duration="2000">
                            <div class="text-box">
                                <div class="title_header_body title_h2">
                                    <h2>OUR RESTAURANT <br></h2>
                                </div>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                                    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
                                    laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
                                <a class="btn btn-default" href="" title="">Book Now</a>
                            </div>
                        </div>
                        <div class="col-md-6 aos-animate" data-aos="fade-up" data-aos-duration="3000">
                            <div class="img_iframe">
                                <img src="img/image-02.jpg">
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="fun-facts">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="tableq aos-animate" data-aos="zoom-in-up" data-aos-duration="2000">
                                <div class="grid-item">
                                    <div>
                                        <strong class="number">
										<span class="numbe">
										7892
										</span>
									</strong>
                                        <span class="title">Customers</span>
                                    </div>
                                </div>
                                <div class="grid-item">
                                    <div>
                                        <strong class="number">
										<span class="numbe2">
										415
										</span>
									</strong>
                                        <span data-count-to class="title">Celebrities</span>
                                    </div>
                                </div>
                                <div class="grid-item">
                                    <div>
                                        <strong class="number">
										<span class="numbe3">
										6781
										</span>
									</strong>
                                        <span class="title">Returns</span>
                                    </div>
                                </div>
                                <div class="grid-item">
                                    <div>
                                        <strong class="number">
										<span class="numbe4">
										6123
										</span>
									</strong>
                                        <span class="title">Happy people</span>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="news">
                <div class="container">
                    <div class="header-title">
                        <div class="title_header_body title_h2">
                            <h2>OUR News <br></h2>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="owl-carousel owl-theme">
                                <div class="item row">
                                    <div class="col-md-8">
                                        <a href="" title="">
                                            <img src="img/01.jpg">
                                        </a>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="text-ticonten">
                                            <h2>Presidential suite</h2>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                                                ex ea commodo consequat.</p>
                                            <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                                            <a class="btn btn-default" href="" title="">read more</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="item row">
                                    <div class="col-sm-8">
                                        <a href="" title="">
                                            <img src="img/01.jpg">
                                        </a>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="text-ticonten">
                                            <h2>Presidential suite</h2>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                                                ex ea commodo consequat.</p>
                                            <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                                            <a class="btn btn-default" href="" title="">read more</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="item row">
                                    <div class="col-sm-8">
                                        <a href="" title="">
                                            <img src="img/01.jpg">
                                        </a>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="text-ticonten">
                                            <h2>Presidential suite</h2>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                                                ex ea commodo consequat.</p>
                                            <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                                            <a class="btn btn-default" href="" title="">read more</a>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="google_maps">
                <div>
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d245367.85397860818!2d107.93803813100352!3d16.0720934248216!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x314219c792252a13%3A0x1df0cb4b86727e06!2zxJDDoCBO4bq1bmcsIFZp4buHdCBOYW0!5e0!3m2!1svi!2s!4v1590763273491!5m2!1svi!2s"
                        style="border:0;pointer-events: none;" allowfullscreen=""></iframe>
                </div>
            </section>

            <!-- Menu Footer -->
            <%- include('include/menu_footer') %>

        </main>
        <!-- footer -->

        <%- include('include/footer') %>


            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.15.0/umd/popper.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
            <script type="text/javascript" src="js/common.js"></script>
            <!-- <script type="text/javascript" src="js/main.js"></script> -->
            <!-- <script src="js/wow.min.js"></script> -->
            <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
            <script type="text/javascript">
                AOS.init();
            </script>
            <script src="js/owl-carousel/owl.carousel.min.js"></script>
            <script src="js/effect.js"></script>
</body>

</html>