body,
html {
    height: 100%;
    margin: 0;
    font-family: 'Tenali Ramakrishna';
}

.font-Tenali {
    font-family: 'Tenali Ramakrishna';
}

* {
    box-sizing: border-box;
}

.bg-image {
    /* The image used */
    background-image: url("../img/51.jpg");
    /* Add the blur effect */
    filter: blur(2px);
    -webkit-filter: blur(2px);
    /* Full height */
    height: 100%;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


/* Position text in the middle of the page/image */

.bg-text {
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(120, 150, 150, 1);
    /* Black w/opacity/see-through */
    color: white;
    font-size: 22px;
    border: 1px solid #f1f1f1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 80%;
    padding: 20px;
    text-align: center;
    animation-name: example;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}

@keyframes example {
    from {
        left: -600px;
    }
    to {
        left: 50%;
        background-color: rgba(0, 16, 16, 0.5)
    }
}