body {
    background: #f9f6f1;
    color: #7e7e7e;
    font: 400 16px/23px "Lora", Arial, helvetica, sans-serif;
}

.logo_border {
    width: 120px;
}

.logo {
    width: 100%;
}

.banner {
    background: white;
    height: 300px;
}

a.btn,
a.btn:focus {
    outline: none;
    outline-width: 0;
    outline-style: none;
}

.tit_header {
    padding-bottom: 160px
}

.title_header_body {
    padding-top: 120px;
    padding-bottom: 85px;
    text-align: center;
    color: #353535;
    width: 100%
}

.title_header_body h1,
.title_header_body h2 {
    font-size: 36px;
    position: relative;
    text-transform: uppercase;
}

.title_header_body h1::after,
.title_header_body h2::after {
    content: url(../img/i1.png);
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%);
}

.box {
    text-align: center;
    padding: 0 35px;
    color: #7e7e7e;
    font: 400 italic 16px/23px "Lora", Arial, helvetica, sans-serif;
}

.box .img {
    margin-bottom: 30px;
    margin-top: 15px
}

.box h2 {
    font-size: 22px;
    color: #353535;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.box_before::before {
    content: "";
    position: absolute;
    top: 94px;
    bottom: 0;
    left: 0;
    width: 1px;
    background-color: rgba(194, 164, 118, 0.3)
}

.box_before::after {
    content: "";
    position: absolute;
    top: 94px;
    bottom: 0;
    right: 0;
    width: 1px;
    background-color: rgba(194, 164, 118, 0.3)
}

.our-room {
    overflow: hidden;
    position: relative;
    background: #353535;
    color: #f9f6f1;
    font: 400 16px/23px "Source Sans Pro", Arial, helvetica, sans-serif;
}

.our-room .iframe_img {
    background-image: url(../img/image-03.jpg);
    background-position: center top;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 50%;
    background-size: cover
}

.our-room .lisssst {
    padding: 70px 0 70px 30px;
}

.btn {
    color: #c2a476;
    background-color: transparent;
    border: 1px solid #806439;
    padding: 8px 30px;
    text-transform: uppercase;
    font: 400 16px/18px "Lora", Arial, helvetica, sans-serif;
    transition: .3s
}

.btn-default:hover {
    background: #c2a476;
    color: #fff
}

.our-room .lcdd {
    padding-left: 15px
}

.our-room .lcdd ul {
    list-style: unset;
    margin: 10px 0;
}

.list_inline_ser {
    padding: 0;
    margin-bottom: 20px
}

.our-room .lisssst h1 {
    text-transform: uppercase;
    margin-bottom: 30px;
    text-align: left;
    font: 22px/24px "Lora", Arial, helvetica, sans-serif;
}

.list_inline_ser .icon_ba {
    list-style: none;
    display: inline-block;
    text-align: center;
    font: 400 12px/14px "Lora", Arial, helvetica, sans-serif;
    padding: 0 15px;
}

.list_inline_ser .icon_ba .icon {
    display: block;
    min-height: 40px;
    position: relative;
    margin-bottom: 5px
}

.restaurant {
    background-image: url(../img/pattern.jpg);
    background-size: cover;
    width: 100%
}

.restaurant .img_iframe {
    box-shadow: 3px 3px 38px 10px rgba(0, 0, 0, 0.25);
}

.restaurant .img_iframe img {
    width: 100%;
    object-fit: cover
}

.title_h2 {
    padding-top: 0;
    padding-bottom: 35px
}

.add-padding {
    padding-top: 160px;
    padding-bottom: 160px;
}

.text-box {
    text-align: center;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
}

.text-box p {
    padding: 0 15px;
    font-style: italic;
    font-size: 16px;
    line-height: 23px;
    padding-bottom: 10px
}

.news .item .text-ticonten h2 {
    font: 400 30px/36px "Lora", Arial, helvetica, sans-serif;
    margin: 0 0 20px;
    color: #c2a476;
    font-weight: 700;
    text-transform: uppercase;
}

.news .item .text-ticonten p {
    margin: 0 0 20px;
    font: 400 16px/23px "Source Sans Pro", Arial, helvetica, sans-serif;
}

.news .item .text-ticonten {
    position: absolute;
    bottom: 0;
    right: 0;
    left: auto;
    line-height: 20px;
    text-align: left;
    padding: 50px 30px 110px;
    margin: 0 0 0 -120px;
    background: #353535;
    text-shadow: none;
    color: #f4f0ec;
}

.news .item .text-ticonten a {
    color: #fff;
}

.news .owl-theme .owl-nav {
    display: none
}

.news .owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
    background: #c2a476;
}

.news .owl-theme .owl-dots {
    position: absolute;
    bottom: 50px;
    margin-left: 120px;
    width: 100%;
}

.news {
    padding-bottom: 160px;
    overflow: hidden;
}

.news .header-title {
    padding: 120px 0 60px;
}

.news .owl-theme .owl-dots .owl-dot span {
    background: transparent;
    border: 1px solid #c2a476;
}

.fun-facts {
    overflow: hidden;
    padding: 59px 0;
    background: #353535;
}

.fun-facts .tableq {
    display: table;
    width: 100%;
}

.fun-facts .grid-item {
    display: table-cell;
    padding: 0 14px;
}

.fun-facts .grid-item div {
    position: relative;
}

.fun-facts .grid-item div::before,
.fun-facts .grid-item div::after {
    top: 0;
    bottom: 0;
    width: 1px;
    content: "";
    position: absolute;
    background: #4a4a4a;
}

.fun-facts .grid-item div::after {
    right: 0;
}

.fun-facts .grid-item .number {
    display: block;
    position: relative;
    text-align: center;
    margin: 0 auto 35px;
    border-radius: 50%;
    width: 119px;
    height: 119px;
    color: #f4f0ec;
    border: 1px solid #c2a476;
    font: 400 36px/119px "Lora", Arial, helvetica, sans-serif;
}

.fun-facts .grid-item .number::after {
    content: url(../img/i1.png);
    position: absolute;
    left: 50%;
    bottom: -64px;
    transform: translate(-50%);
}

.fun-facts .grid-item span.title {
    position: relative;
    font: 400 italic 18px/20px "Lora", Arial, helvetica, sans-serif;
    display: block;
    text-align: center;
    color: #f4f0ec;
}

.google_maps {
    position: relative;
    height: 440px
}

.google_maps div {
    width: 100%;
    height: 100%;
}

.google_maps div iframe {
    width: 100%;
    height: 100%
}

.menu_footer {
    padding: 39px 0;
    background: #353535;
}

.menu_footer nav {
    width: 100%;
}

.menu_footer strong {
    display: inline-block;
    position: absolute;
    margin: auto;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.menu_footer nav ul {
    padding: 0;
    list-style: none;
    display: inline-flex;
    margin: 0;
    text-transform: uppercase;
    font: 500 14px/16px "Lora", Arial, helvetica, sans-serif;
}

.menu_footer nav ul.menu_left {
    float: left;
}

.menu_footer nav ul.menu_right {
    float: right;
}

.menu_footer nav ul li {
    margin: 0 30px 0 0;
}

.menu_footer nav ul li a {
    color: #fff;
    text-decoration: none;
    transition: all 0.5s ease;
}

.menu_footer nav ul.menu_right li:last-child {
    margin: 0;
}

.menu_footer nav ul li a:hover {
    color: #c2a476;
}

.scroll-top {
    position: absolute;
    width: 45px;
    height: 45px;
    right: 0px;
    top: -40px;
    opacity: 0;
    z-index: 30
}

.scroll-top a.text-center {
    float: right;
    position: absolute;
    bottom: 40px;
    width: 50px;
    height: 50px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    background-color: #353535;
}

.scroll-top a.text-center .glyphicon-menu-up:hover {
    color: #c2a476
}

.scroll-top a.text-center .glyphicon-menu-up {
    padding-top: 9px;
    width: 100%;
    height: 100%;
    font-size: 22px;
    color: #fff;
    transition: all .3s ease;
    z-index: 32;
}

.visible-top {
    float: right;
    opacity: 1;
}

footer {
    background: #c2a476;
    padding: 13px 0;
    margin-bottom: 30px;
    font: 400 16px/25px "Lora", Arial, helvetica, sans-serif;
}

footer p {
    margin: 0;
    color: #fff;
}

footer p a.link {
    font-style: italic;
    color: #fff
}

footer p a.name {
    color: #fff;
}

@font-face {
    font-family: "icomoon";
    src: url("../fonts/icomoon.eot");
    src: url("../fonts/icomoon.eot?#iefix") format("embedded-opentype"), url("../fonts/icomoon.woff") format("woff"), url("../fonts/icomoon.woff2") format("woff2"), url("../fonts/icomoon.ttf") format("truetype"), url("../fonts/icomoon.svgicomoon") format("svg");
    font-weight: 400;
    font-style: normal;
}

[class^="icon-"],
[class*=" icon-"] {
    font-family: 'icomoon';
    speak: none;
    font-variant: normal;
    font-weight: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-facebook:before {
    content: "\e904";
}

.icon-twitter:before {
    content: "\e900";
}

.icon-youtube:before {
    content: "\e903";
}

.icon-instagram:before {
    content: "\e902";
}

.icon-google:before {
    content: "\e901";
}

@font-face {
    font-family: 'Glyphicons Halflings';
    src: url("../fonts/bootstrap/glyphicons-halflings-regular.eot");
    src: url("../fonts/bootstrap/glyphicons-halflings-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/bootstrap/glyphicons-halflings-regular.woff2") format("woff2"), url("../fonts/bootstrap/glyphicons-halflings-regular.woff") format("woff"), url("../fonts/bootstrap/glyphicons-halflings-regular.ttf") format("truetype"), url("../fonts/bootstrap/glyphicons-halflings-regular.svg#glyphicons_halflingsregular") format("svg");
}

.glyphicon {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.glyphicon-menu-up:before {
    content: "\e260";
}

footer ul.social-networks {
    margin: 0;
    text-align: right
}

footer ul.social-networks li {
    display: inline-block;
    margin-left: 5px
}

footer ul.social-networks li a {
    color: #fff;
    display: block;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 1px solid #fff;
    text-align: center;
    text-decoration: none
}

footer ul.social-networks li a:hover {
    color: #353535;
    border-color: #353535
}

footer ul.social-networks li a span {
    font-size: 12px;
}

footer ul.social-networks li a span.icon-facebook {
    font-size: 14px
}

.application .header__phone-list .phone-list__item,
.application .lang-list,
.application .menu__section_categories ul.inner li a span,
.h1,
.h2,
h1,
h2 {
    letter-spacing: normal!important
}

.h2,
.h3,
h2,
h3 {
    font-family: inherit;
    font-weight: normal;
    line-height: normal;
}

.h1,
h1 {
    font-family: inherit;
    font-weight: normal;
    line-height: normal;
}

.application .header__logo {
    width: auto;
}

.wow {
    transition-duration: 2s;
    transition-timing-function: ease;
}