<div class="application" data-role="root">
    <!-- Preloader start-->
    <section class="preloader" data-role="preloader" style="visibility: hidden; opacity: 0;">
        <div class="preloader__start" data-role="preloader-start">
            <div class="img">
                <!-- <img src="" /> -->
            </div>
        </div>
    </section>
    <!-- Preloader end-->
    <!-- Header start-->
    <%- include('header') %>
    <!-- Header end-->
    <div>
        <img style="height: 100vh; margin-top: -80px; width: 100%; object-fit: cover;" src="./images/1.jpg" alt="">
    </div>
</div>