<!-- footer -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <p>© <a href="" title="" class="link">RangeRelaxe</a>. All rights reserved. Design by <a href=""
                        title="" class="name">GalliaSoft</a></p>
            </div>
            <div class="col-md-6">
                <ul class="list-inline social-networks">
                    <li><a href="#"><span class="icon-facebook"></span></a></li>
                    <li><a href="#"><span class="icon-twitter"></span></a></li>
                    <li><a href="#"><span class="icon-youtube"></span></a></li>
                    <li><a href="#"><span class="icon-instagram"></span></a></li>
                    <li><a href="#"><span class="icon-google"></span></a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>
<!-- Footer end. -->