<!-- Header start-->
<!-- header-->
<header class="header" style="font-size: 11px !important; font-weight: 700 !important; font: 400 16px/23px 'Lora', Arial, helvetica, sans-serif;">
    <div class="grid-container">
        <div class="grid-x grid-margin-x align-middle">
            <div class="cell small-4 large-5 flex-container show-for-medium">
                <!-- Lang list start-->
                <ul class="header__lang-list lang-list show-for-large" data-role="animated-list-pointer" data-hover-item="true">
                    <li class="lang-list__item is-active" data-role="list-item">
                        <a rel="alternate" hreflang="EN" href="#" data-role="roll-hover-btn" class="roll-hover-btn">
                            <div class="roll-hover-btn__container" style="height: 14px; line-height: 14px;">
                                <div class="roll-hover-btn__label ">
                                    <p> EN</p>
                                </div>
                            </div>
                        </a>
                    </li>

                    <li class="lang-list__item" data-role="list-item">
                        <a rel="alternate" hreflang="FR" href="#" data-role="roll-hover-btn" class="roll-hover-btn">
                            <div class="roll-hover-btn__container" style="height: 14px; line-height: 14px;">
                                <div class="roll-hover-btn__label ">
                                    <p>FR</p>
                                </div>

                            </div>
                        </a>
                    </li>

                    <li class="lang-list__item" data-role="list-item">
                        <a rel="alternate" hreflang="DE" href="#" data-role="roll-hover-btn" class="roll-hover-btn">
                            <div class="roll-hover-btn__container" style="height: 14px; line-height: 14px;">
                                <div class="roll-hover-btn__label ">
                                    <p>VI</p>
                                </div>
                            </div>
                        </a>
                    </li>

                    <span class="lang-list__pointer" data-role="forward-pointer" data-main-animation="fade-in" style="transform: translate3d(45px, 3px, 0px);"></span>
                </ul>
                <!-- Lang list end-->
                <!-- Phone list start-->
                <ul class="header__phone-list phone-list">
                    <li class="phone-list__item" data-main-animation="fade-in-right">
                        <a data-role="roll-hover-btn" href="" class="roll-hover-btn">
                            <div class="roll-hover-btn__container" style="height: 14px; line-height: 14px;">
                                <div class="roll-hover-btn__label ">
                                    <p>+41 27 966 26 60</p>
                                </div>

                            </div>
                        </a>
                    </li>
                </ul>
                <!-- Phone list end-->
            </div>
            <div class="cell large-2 medium-3 small-4 flex-container align-center header__logo-container" data-main-animation="fade-in-down">
                <!-- Header logo start-->
                <a class="header__logo" href="/">
                    <div class="logo_border">
                        <img class="logo" src="images/logo_luxury.png" />
                    </div>
                </a>
                <!-- Header logo end-->
            </div>
            <div class="cell medium-3 small-6 flex-container align-right" data-main-animation="fade-in-left">
                <!-- Booking button start-->


                <a class="header__button button button_border button_header double-text" data-role="double-text-btn" href="/products" target="_blank">
                    <div class="double-text__container" style="height: 12px; line-height: 12px;">
                        <div class="double-text__label double-text__label_top">
                            <p>Book your stay</p>
                        </div>
                        <div class="double-text__label double-text__label_bot">
                            <p>Book your stay</p>
                        </div>
                    </div>
                </a>

                <!-- Booking button end-->
            </div>
            <div class="cell medium-2 small-2 flex-container align-center" data-main-animation="fade-in-left">
                <div class="header__menu-wrapper" data-role="menu-wrapper">
                    <!-- Hamburger start-->
                    <div class="hamburger-wrapper" data-role="menu-trigger">
                        <div class="hamburger hamburger_type-dots" data-trigger="menu">
                            <span class="hamburger__dots"></span>
                            <span class="hamburger__dot"></span>
                            <span class="hamburger__dot"></span>
                            <span class="hamburger__dot"></span>
                            <span class="hamburger__dot"></span>
                            <span class="hamburger__dot"></span>
                            <span class="hamburger__dot"></span>
                            <span class="hamburger__dot"></span>
                            <span class="hamburger__dot"></span>
                        </div>
                        <div class="hamburger-text" data-role="hamburger-text" data-trigger="menu" style="height: 14px; line-height: 14px;">
                            <span class="hamburger-text__item" data-split-text="true" aria-label="Menu">
                                <span class="word1" aria-hidden="true" aria-label="Menu">
                                    <span class="char1" aria-hidden="true">Menu</span>
                            </span>
                            </span>
                            <span class="hamburger-text__item" data-split-text="true" aria-label="Close">
                                <span class="word1" aria-hidden="true" aria-label="Close">
                                    <span class="char1" aria-hidden="true">Close</span>
                            </span>
                            </span>
                        </div>
                    </div>
                    <!-- Hamburger end-->
                    <!-- Menu start-->
                    <div class="menu menu_top" data-role="menu">
                        <div class="menu__hover menu-hover" data-role="menu-list-hover">
                            <div class="menu-hover__text" data-split-text="letters-only" aria-label="home">
                                <span class="char1" aria-hidden="true">home</span></div>
                            <div class="menu-hover__text" data-split-text="letters-only" aria-label="Our story">
                                <span class="char1" aria-hidden="true">Our story</span>
                            </div>
                            <div class="menu-hover__text" data-split-text="letters-only" aria-label="Gallery">
                                <span class="char1" aria-hidden="true">Gallery</span>
                            </div>
                        </div>
                        <div class="menu__inner" data-role="menu-scroll-element">
                            <div class="grid-container flex-child-grow flex-container flex-dir-column">
                                <div class="grid-x grid-margin-x flex-child-grow">
                                    <div class="cell flex-container flex-dir-column">
                                        <div class="menu__section menu__section_categories" data-role="menu-list-container">
                                            <div class="menu__title menu-title is-hidden" data-role="menu-title">
                                                <div class="menu-title__top">
                                                    <i class="icon-arrow-small-left"></i>
                                                    <span class="dots"></span>
                                                    <span class="dot"></span>
                                                    <span class="dot"></span>
                                                    <span class="dot"></span>
                                                    <span class="menu-title__text-back">
                                                        <p>Back</p>
                                                    </span>
                                                </div>
                                                <div class="menu-title__bot">
                                                    <span data-role="menu-title-text">Menu Title</span>
                                                </div>
                                            </div>
                                            <ul class="top-list">
                                                <li data-role="double-text-container" class="is-active top-item">
                                                    <a href="#" data-split-text="letters-only" data-hover-ls="true" aria-label="home">
                                                        <span class="char1" aria-hidden="true">home</span>
                                                    </a>
                                                </li>
                                                <li data-role="double-text-container" class="top-item">
                                                    <a href="#" data-split-text="letters-only" data-hover-ls="true" aria-label="Our story">
                                                        <span class="char1" aria-hidden="true">Our story</span>
                                                    </a>
                                                </li>
                                                <li data-role="double-text-container" class="top-item">
                                                    <a href="#" data-split-text="letters-only" data-hover-ls="true" aria-label="Gallery">
                                                        <span class="char1" aria-hidden="true">Gallery</span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="menu__section menu__section_info menu__section_sub hide-for-large">
                                            <!-- Mobile lang-list start ( < 1024px)-->
                                            <ul class="header__lang-list lang-list" data-role="animated-list-line" data-hover-line="true">
                                                <li class="lang-list__item is-active" data-role="list-item">
                                                    <a rel="alternate" hreflang="EN" href="" data-role="roll-hover-btn" class="roll-hover-btn">
                                                        <div class="roll-hover-btn__container" style="height: 14px; line-height: 14px;">
                                                            <div class="roll-hover-btn__label ">
                                                                <p>EN</p>
                                                            </div>
                                                        </div>
                                                    </a>
                                                </li>

                                                <li class="lang-list__item" data-role="list-item">
                                                    <a rel="alternate" hreflang="FR" href="#" data-role="roll-hover-btn" class="roll-hover-btn">
                                                        <div class="roll-hover-btn__container" style="height: 14px; line-height: 14px;">
                                                            <div class="roll-hover-btn__label ">
                                                                <p>FR</p>
                                                            </div>

                                                        </div>
                                                    </a>
                                                </li>

                                                <li class="lang-list__item" data-role="list-item">
                                                    <a rel="alternate" hreflang="DE" href="#" data-role="roll-hover-btn" class="roll-hover-btn">
                                                        <div class="roll-hover-btn__container" style="height: 14px; line-height: 14px;">
                                                            <div class="roll-hover-btn__label ">
                                                                <p>VI</p>
                                                            </div>
                                                        </div>
                                                    </a>
                                                </li>

                                                <span class="lang-list__line" data-role="forward-line" style="width: 0px; transform: translate3d(0px, 0px, 0px);"></span>
                                            </ul>
                                            <!-- Mobile lang-list end-->
                                            <!-- Mobile phone-list start  (< 640px)-->
                                            <ul class="header__phone-list phone-list hide-for-medium">
                                                <li class="phone-list__item" data-main-animation="fade-in-right">
                                                    <a data-role="roll-hover-btn" href="tel:+41 27 966 26 60" class="roll-hover-btn">
                                                        <div class="roll-hover-btn__container" style="height: 14px; line-height: 14px;">
                                                            <div class="roll-hover-btn__label ">
                                                                <p>+41 65 851 23 45</p>
                                                            </div>

                                                        </div>
                                                    </a>
                                                </li>
                                            </ul>
                                            <!-- Mobile phone-list end-->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Menu end-->
            </div>
        </div>
    </div>
</header>
<!-- Header end-->