<section class="menu_footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="scroll-top">
                    <a href="#scroll-topl" class="text-center" title="Lên Đầu Trang">
                        <span class="glyphicon glyphicon-menu-up" aria-hidden="true"></span>
                    </a>
                </div>
                <strong>
                <a href="" title="">
                    <div class="logo_border">
                        <img class="logo" src="images/logo_luxury.png" />
                    </div>
                </a>
            </strong>
                <nav class="f_menu">
                    <ul class="menu_left">
                        <li>
                            <a href="/">home</a>
                        </li>
                        <li>
                            <a href="/about-us">ABOUT US</a>
                        </li>
                        <li>
                            <a href="">rooms</a>
                        </li>
                        <li>
                            <a href="">conference room</a>
                        </li>
                    </ul>
                    <ul class="menu_right">
                        <li>
                            <a href="">wedding hall</a>
                        </li>
                        <li>
                            <a href="">restaurant</a>
                        </li>
                        <li>
                            <a href="">blog</a>
                        </li>
                        <li>
                            <a href="/contact">contact</a>
                        </li>
                    </ul>

                </nav>
            </div>
        </div>
    </div>
</section>